<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<section name="FirefoxPreferences" type="System.Configuration.NameValueSectionHandler" />
		<section name="FirefoxExtensions" type="System.Configuration.NameValueSectionHandler" />
		<section name="FirefoxArguments" type="System.Configuration.NameValueSectionHandler" />
		<section name="ChromePreferences" type="System.Configuration.NameValueSectionHandler" />
		<section name="ChromeExtensions" type="System.Configuration.NameValueSectionHandler" />
		<section name="DriverCapabilities" type="System.Configuration.NameValueSectionHandler" />
		<section name="ChromeArguments" type="System.Configuration.NameValueSectionHandler" />
		<section name="InternetExplorerPreferences" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	<appSettings>
		<!--mandatory keys-->
		<add key="protocol" value="http" />
		<add key="TestENV" value="QA" />
		<!--<add key="TestENV" value="PROD" />
		<add key="TestENV" value="STAGE" />-->
		<add key="MyMCSUrl" value="https://myMCS.MCS.org" />
		<add key="QAMCS2host" value="mcs2-service-fabric-qa.eastus.cloudapp.azure.com:8086/login" />
		<add key="PRODMCS2host" value="compass.MCS.org" />
		<add key="STAGINGMCS2host" value="" />
		<!--<add key="browser" value="Safari" />-->
		<!--<add key="browser" value="InternetExplorer" />-->
		<!--<add key="browser" value="Chrome" />-->
		<!--<add key="browser" value="Firefox" />-->
		 <add key="browser" value="InternetExplorer" /> 
		<!--<add key="browser" value="FirefoxPortable" />-->
		<!--<add key="browser" value="Firefox" />-->
		<!--<add key="browser" value="InternetExplorer" />-->
		<!--<add key="ENV" value="Local" />-->
		<!--<add key="ENV" value="Vm" />-->
		<add key="ENV" value="Local" />
		<add key="JiraResultUpdation" value="MethodLevel" />
		<!--<add key="JiraResultUpdation" value="SuiteLevel" />-->
		<add key="JiraXrayURL" value="https://jira-test.MCS.org:8443/rest/raven/1.0/import/execution" />
		<add key="NUnitRestURL" value="https://jira-test.MCS.org:8443/rest/raven/1.0/import/execution/nunit?projectKey=ATP" />
		<add key="RestFileLocation" value="C:\\Users\\hturlapati\\Desktop\\ReportOutput\\TestResult.xml" />
		<add key="JiraXrayAuth" value="Basic anNpbmdoOlJlZ3Jlc3Npb25AMTIzNDU=" />
		<add key="PublishResultinJira" value="No" />
		<add key="BatFilePath" value="" />
		<!--<add key ="PublishResultinJira" value="Yes"/>-->
		<!--<add key="browser" value="RemoteWebDriver" />-->
		<add key="FirefoxUseLegacyImplementation" value="false" />
		<add key="FireFoxPath" value="\..\..\..\FirefoxPortable\FirefoxPortable.exe" />
		<add key="RemoteWebDriverHub" value="http://localhost:4444/wd/hub" />
		<!--<add key="RemoteWebDriverHub" value="http://user:key@hub-cloud.browserstack.com/wd/hub"/>-->
		<add key="DriverCapabilities" value="Chrome" />
		<!--<add key="proxy" value="127.0.0.1:9999" />-->
		<!--Timeouts-->
		<add key="longTimeout" value="90" />
		<add key="mediumTimeout" value="60" />
		<add key="shortTimeout" value="30" />
		<add key="ImplicitlyWaitMilliseconds" value="200" />
		<!--nlog trace level must be set to "trace" for at least one logger to see EventFiringWebDriver logs-->
		<add key="EnableEventFiringWebDriver" value="true" />
		<!--User credentials-->
		<add key="domain" value="MCS.org\" />
		<add key="username" value="vbonthu" />
		<add key="password" value="MCS!2019" />
		<!--Downloaded files, screenshots and page source location-->
		<add key="UseCurrentDirectory" value="true" />
		<add key="ExtentReportFolder" value="\ExtentReportResults" />
		<add key="DownloadFolder" value="\PDFDownloads" />
		<add key="ScreenShotFolder" value="\TestOutput" />
		<add key="PageSourceFolder" value="\TestOutput" />
		<add key="MethodJsonFolder" value="\DataDriven\XrayTestMethodOutput" />
		<add key="SuiteJsonFolder" value="\DataDriven\XrayTestSuiteOutput" />
		<!--Screenshots and logging-->
		<add key="FullDesktopScreenShotEnabled" value="true" />
		<add key="SeleniumScreenShotEnabled" value="true" />
		<add key="GetPageSourceEnabled" value="true" />
		<add key="JavaScriptErrorLogging" value="true" />
		<!--JavaScript errors type to be search on browser logs-->
		<add key="JavaScriptErrorTypes" value="SyntaxError,EvalError,ReferenceError,RangeError,TypeError,URIError,Refused to display,Internal Server Error,Cannot read property" />
		<!--Use default firefox profile?-->
		<add key="UseDefaultFirefoxProfile" value="false" />
		<add key="PathToFirefoxProfile" value="" />
		<!--DataDrivenFile-->
		<add key="DataDrivenFile" value="\DataDriven\DataDriven.xml" />
		<add key="DataDrivenFileXlsx" value="\DataDriven\DataDriven.xlsx" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
		<targets>
			<target name="logfile" xsi:type="File" fileName="${basedir}\TestNUnit.log" layout="${longdate}|${level}|${callsite}|${message}" />
			<target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level}|${callsite}|${message}" />
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="logfile" />
			<logger name="*" minlevel="Debug" writeTo="console" />
		</rules>
	</nlog>
	<FirefoxPreferences>
		<!--add key="PreferenceToBeOverride" value="NewValue" /-->
	</FirefoxPreferences>
	<FirefoxExtensions>
		<!-->add key="FirefoxPluginName.xpi" value=""/-->
	</FirefoxExtensions>
	<FirefoxArguments>
		<!--<add key="FirefoxArgument" value=""/>-->
	</FirefoxArguments>
	<ChromePreferences>
		<!--add key="PreferenceToBeOverride" value="NewValue" /-->
	</ChromePreferences>
	<ChromeExtensions>
		<!-->add key="ChromePluginName.crx" value=""/-->
	</ChromeExtensions>
	<DriverCapabilities>
		<!--<add key="browserstack.user" value="value"/>-->
		<!--<add key="browserstack.key" value="value"/>-->
		<!-- <add key="project" value="Test.Automation"/>-->
	</DriverCapabilities>
	<ChromeArguments>
		<!--<add key="ChromeArgument" value=""/>-->
	</ChromeArguments>
	<InternetExplorerPreferences>
		<!--<add key="InternetExplorerArgument" value=""/>-->
	</InternetExplorerPreferences>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.145" newVersion="1.1.0.145" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-106.6.9.0" newVersion="106.6.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.AWT.WinForms" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.SwingAWT" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Media" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Text" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Core" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.Runtime" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Util" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Misc" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.XML.API" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Remoting" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Security" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Beans" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Corba" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Management" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.2.4630.5" newVersion="7.2.4630.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Naming" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Jdbc" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.12.0.0" newVersion="3.12.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>
